<form action="/create_flight_from_user" method="post">

  <div class="form-group">
    <label for="description">
      Description
    </label>

    <input type="text" id="description" name="description" class="form-control" value="<%= @flight.description %>">
  </div>

  <div class="form-group">
    <label for="departs_at">
      Departs at
    </label>

    <input type="text" id="departs_at" name="departs_at" class="form-control" value="<%= @flight.departs_at %>">
  </div>

  <input type="hidden" name="user_id" value="<%= @user.id %>">

  <div class="form-group">
    <label for="ten_minute_message_sent">
      Ten minute message sent
    </label>
    <input id="ten_minute_message_sent" class="form-check-input" name="ten_minute_message_sent" type="checkbox" <%= "checked" if @flight.ten_minute_message_sent %>>
  </div>

  <div class="form-group">
    <label for="five_minute_message_sent">
      Five minute message sent
    </label>
    <input id="five_minute_message_sent" class="form-check-input" name="five_minute_message_sent" type="checkbox" <%= "checked" if @flight.five_minute_message_sent %>>
  </div>

  <div class="form-group">
    <label for="one_minute_message_sent">
      One minute message sent
    </label>
    <input id="one_minute_message_sent" class="form-check-input" name="one_minute_message_sent" type="checkbox" <%= "checked" if @flight.one_minute_message_sent %>>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create flight
  </button>
</form>
